### Import numpy and pandas libraries

In [5]:

import numpy as np
import pandas as pd

### Loading the dataset

In [9]:
# Fix: Specify the encoding as 'latin-1'
df = pd.read_csv('spam.csv', encoding='latin-1')

# Now check the first few rows to confirm it loaded correctly
print(df.head())

     v1                                                 v2 Unnamed: 2  \
0   ham  Go until jurong point, crazy.. Available only ...        NaN
1   ham                      Ok lar... Joking wif u oni...        NaN
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3   ham  U dun say so early hor... U c already then say...        NaN
4   ham  Nah I don't think he goes to usf, he lives aro...        NaN

  Unnamed: 3 Unnamed: 4
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

In [10]:
df.shape

(5572, 5)

* Data cleaning
* EDA
* Text Preprocessing
* Model building
* Evaluation

#### 1. Data Cleaning

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [12]:
# drop last 3 cols
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [13]:
df.sample(5)

       v1                                                 v2
958   ham  My sort code is  and acc no is . The bank is n...
3035  ham                   ;-) ok. I feel like john lennon.
3408  ham  Whats that coming over the hill..... Is it a m...
4579  ham  Hi ....My engagement has been fixd on  &lt;#&g...
4285  ham  Congrats. That's great. I wanted to tell you n...